<div class="arlo_tm_footer">
    <div class="container">
        <div class="footer_inner">
            <div class="copy">
                <p>Copyright &copy;
                    {{ site.time | date: "%Y" | minus: 1}} -
                    {{ site.time | date: "%Y" }}. 
                    <a href="{{ site.vendor.url }}" target="_blank">{{ site.vendor.name }}</a>
                </p>
            </div>
            <div class="top">
                <a class="arlo_tm_totop" href="#"></a>
            </div>
        </div>
    </div>
</div>
