<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
	<!-- STYLES -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,700,700i,800&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{{ 'css/plugins.css' | relative_url }}" />
	<link rel="stylesheet" type="text/css" href="{{ 'css/stylem.css' | relative_url }}" />
	<!--[if lt IE 9]> 
		<script type="text/javascript" src="{{ 'js/modernizr.custom.js' | relative_url }}"></script> 
	<![endif]-->
	<!-- /STYLES -->
	{%- include seo.html -%}
</head>
	