<div class="arlo_tm_leftpart">
    <div class="inner">
        <div class="logo">
            <div class="arlo_tm_logo_author">
                <div class="image">
                    <div class="main" data-img-url="img/about/3.jpg" style="background-image: url(&quot;img/about/3.jpg&quot;);"></div>
                </div>
                <h3 class="title">Albert <span>Walkers</span></h3>
                <p>I'm a <span class="arlo_tm_animation_text_word">Photographer</span><span class="typed-cursor"></span></p>
            </div>
        </div>
        <div class="menu scrollable" tabindex="5001" style="height: 0px; overflow: hidden; outline: none;">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Roles</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="bottom">
            <div class="social">
                <ul>
                    <li><a href="#"><i class="xcon-facebook"></i></a></li>
                    <li><a href="#"><i class="xcon-twitter"></i></a></li>
                    <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                    <li><a href="#"><i class="xcon-instagram"></i></a></li>
                    <li><a href="#"><i class="xcon-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
