<div class="arlo_tm_topbar">
    <div class="topbar_inner">
        <div class="container">
            <div class="topbar_in">
                <div class="logo">
                    <a href="{{ '/' | relative_url }}">
                        <img src="{{ site.logo.mobile }}" alt="{{ site.name }}" />
                    </a>
                </div>
                <div class="trigger">
                    <a href="#">
                        <span class="menu">Menu</span>
                        <span class="close">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <div class="container">
            <div class="dropdown_inner">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Roles</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
