---
layout: default
title: 'blog'
---

<div class="arlo_tm_section" id="news">
    <div class="arlo_tm_news">
        <div class="container">
            <div class="arlo_title_holder">
                <h3>News</h3>
            </div>
            <div class="news_inner">
                <ul>
                    {% for post in paginator.posts %}
                    <li>
                        <div class="inner">
                            <div class="image">
                                <img class="larger" src="{{ 'img/news/1000x700.jpg' | relative_url }}" alt="" />
                                <img class="smaller" src="{{ 'img/news/1000x500.jpg' | relative_url }}" alt="" />
                                <div class="main" data-img-url="{{ 'img/news/1.jpg' | relative_url }}"></div>
                                <div class="overlay"></div>
                                <span class="category">{{ post.category }}</span>
                                <a class="link" href="#"></a>
                            </div>
                            <div class="details">
                                <div class="date">
                                    <p>
                                        {{ post.date | date: ' %b %d, %Y' }} by 
                                        <a href="#">{{ post.author | default: site.author }}</a>
                                    </p>
                                </div>
                                <h3 class="title">
                                    <a href="#">{{ post.title }}</a>
                                </h3>
                            </div>
                            <div class="full_des">
                                {{ post.content }}
                                
                                {%- include social-share.html -%}
                            </div>
                        </div>
                    </li>
                    {%- endfor -%}

                </ul>
            </div>
            <div class="news_inner arlo_flod_none">

                <!-- Pagination links -->
                <div class="arlo_pagination">
                    {% if paginator.previous_page %}


                    <div class="arlo_tm_button">
                        <a href="{{ paginator.previous_page_path }}" class="previous">
                            Previous
                        </a>
                    </div>


                    {% else %}
                    <div class="arlo_tm_button">
                        <a class="previous" href="#">Previous</a>
                    </div>
                    {% endif %}

                    {% if paginator.next_page %}
                    <div class="arlo_tm_button next">
                        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    </div>
                    {% else %}
                    <div class="arlo_tm_button next">
                        <a class="next" href="#">Next</a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>